<%- include('partials/header'); -%>



<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To 9jaGist Forums</h1>
            <p>Your Number 1 Authentuc Gist and Info Hub.</p>
            <a  href="forums/new" class="btn btn-primary btn-large">Add New Topic</a>
        </div>
        </header>

    <h1>9jaGist: A Home For Everyone</h1>

    <div class="row">
        <div class="col-lg-12">
            <h3>Trending Topics</h3>
        </div>
    </div>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% forums.forEach(function(forum){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= forum.image %>">
                    <div class="caption">
                        <h4><%= forum.title %></h4>
                        <p> <%= forum.message %></p>
                        <small> <%= forum.email %> </small>
                    </div>
                </div>
            </div>
        <% }); %>

    </div>


</div>

<%- include('partials/footer'); -%>

